USE [master]
GO
/****** Object:  Database [Clinica_DB]    Script Date: 15/6/2023 16:30:27 ******/
CREATE DATABASE [Clinica_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinica_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIEGOSQL\MSSQL\DATA\Clinica_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinica_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIEGOSQL\MSSQL\DATA\Clinica_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clinica_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clinica_DB]
GO
/****** Object:  Table [dbo].[Cobertura]    Script Date: 15/6/2023 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cobertura](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Id_Especialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 15/6/2023 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Horario_atencion] [varchar](30) NOT NULL,
	[Dia_atencion] [varchar](30) NOT NULL,
	[Copago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 15/6/2023 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Fecha_nacimiento] [date] NOT NULL,
	[Dni] [int] NOT NULL,
	[Id_cobertura] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 15/6/2023 16:30:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_especialidad] [int] NOT NULL,
	[Id_paciente] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Id_cobertura] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cobertura]  WITH CHECK ADD  CONSTRAINT [fk_cobertura_especialidad] FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([Id])
GO
ALTER TABLE [dbo].[Cobertura] CHECK CONSTRAINT [fk_cobertura_especialidad]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [fk_paciente_especialidad] FOREIGN KEY([Id_cobertura])
REFERENCES [dbo].[Cobertura] ([Id])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [fk_paciente_especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [fk_turno_cobertura] FOREIGN KEY([Id_cobertura])
REFERENCES [dbo].[Cobertura] ([Id])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [fk_turno_cobertura]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [fk_turno_especialidad] FOREIGN KEY([Id_especialidad])
REFERENCES [dbo].[Especialidad] ([Id])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [fk_turno_especialidad]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [fk_turno_paciente] FOREIGN KEY([Id_paciente])
REFERENCES [dbo].[Paciente] ([Id])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [fk_turno_paciente]
GO
USE [master]
GO
